@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
} 

/*Layout*/
/*Page*/
body{
    background-color: ghostwhite !important;
}

/*Header*/
.header-area{
}
.container{
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 0;
}
.container{
    z-index: 2;
}
.row{

}
.col-12{
    background-color: bisque;

}
.main-nav{

}

.col-12{

}
.nav{
    float: right;
    display: flex;
    height: 100%;
    margin-top: 3%;
}
.nav-menu-buttons{
    margin-left: 10px;
    margin-right: 10px;
    font-family: montserrat;
    font-size: larger;
    color: chocolate;
}
.anchor-nav-menu-buttons{
    width: 200px;
}
.nav-menu-logo{
    float: left;
    margin-top: 1%;
    width: 100px;
    height: 100px;
}

/*Banner*/
.banner-portrait-img{
    width: 400px;
    height: 200px;
}

/*Section*/


/*Footer*/
.footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    font-family: montserrat;
    font-size: larger;
}